@import "../../globals.scss";

.popover__container {
    position: relative;
}

.popover__content {
    background-color: $yellow;
    position: absolute;
    right: 0px;
    z-index: 1000;
    margin-left: 30px;
    margin-right: 30px;
}

.popover__icon {
    cursor: pointer;
}
