@import "../globals.scss";

.main_product__container {
    h1 {
        text-align: center;
        font-family: $title-font;
        color: $orange;
        margin-top: 10px;
    }

    img {
        border-radius: 20px;
        width: 100%;
        padding: 30px;
    }
}

.product_data {
    background-color: $grey;
    padding: 10px;
    h4 {
        font-family: $title-font;
    }
    ul {
        li {
            font-family: $text-font;
            font-size: 1.2rem;
        }
    }
}

.product_data__description {
    h4 {
        font-family: $title-font;
    }
    p {
        font-family: $text-font;
        font-size: 1.2rem;
    }
}
