@import "../../globals.scss";

.banner {
    height: 400px;
}

.carousel-item__image {
    height: 400px;
    object-fit: cover;

    p {
        font-family: $title-font;
        color: $white;
    }
}
