@import "../../globals.scss";

.main_index {
    background-color: $grey;
    padding: 0px;
}

.product-title {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-family: $title-font;
        margin: 1rem;
    }
}
