@import "./../globals.scss";

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grey;
}

.about-title {
    font-family: $title-font;
    font-size: 2.7em;
    margin: 20px;
}

.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    transition: transform 1s;

    h1 {
        font-family: $title-font;
        font-size: 2rem;
        margin: 10px;
    }

    p {
        font-family: $text-font;
        width: 80vw;
        font-size: 1.5rem;
    }

    &:hover {
        transform: scale(1.1, 1.1);
    }
}
