/* Paleta de colores */

$grey: #e6ebe0;

$yellow: #f4f1bb;

$orange: #f98948;

$blue: #5ca4a9;

$white: #ffffff;

$title-font: "Rubik Mono One", sans-serif;

$text-font: "Montserrat", sans-serif;

@for $i from 1 through 3 {
    /*For the exercise*/
    .f-#{$i} {
        font-size: 1rem * $i;
    }

    .bg-banner-#{$i} {
        background-image: url("../img/banner#{$i}.jpg");
        background-size: cover;
        background-position: center;
    }
}

.progressbar {
    position: relative;
    top: 40vh;
}
