@import "../../globals.scss";

.product-title {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-family: $title-font;

        margin: 1rem;
    }
}

.product-list {
    background-color: $grey;
    margin-bottom: 1rem;
}
