@import "../globals.scss";

.card__btn-container {
    margin: 0px;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $yellow;
}

.card__btn {
    color: $white;
    background-color: $orange;
    padding: 3px;
    border: 2px solid $yellow;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    &:hover {
        background-color: $yellow;
        color: $orange;
        border: 2px solid $orange;
    }
}
